{% extends 'base.html.twig' %}

{% block title %}Create!{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-4">
        Create <strong>{{ resource }}</strong>

        <a class="btn btn-link" href="{{ path('general.index', {'resource': resource}) }}">&larr; Back to index</a>
    </h2>

    {% include 'general/_form.html.twig' %}
{% endblock %}
