{% extends 'base.html.twig' %}

{% block title %}Edit!{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-4">
        Edit <strong>{{ resourceName }}</strong> << {{ resource.name }} >>

        <a class="btn btn-link" href="{{ path('general.index', {'resourceName': resourceName}) }}">&larr; Back to index</a>
    </h2>

    {% include 'general/_form.html.twig' %}
{% endblock %}
